.attribution{
    @include flexBox(center,row);
    background-color: $White;
    font-weight: bold;
    color: $txt_alt_vark_blue;

    @include breakPoint(mobile){
        flex-wrap: wrap;
        flex-direction: column;
    }
    >a{
        padding: 0 60px 0 5px;
        color: $main_Orange;
        @include breakPoint(small){
            padding: 5px 10px 20px 10px;
        }
    }
}